.embed-container {
  max-width: 550px; /* This is the max width of Twitter embeds */
}
.embed-container.center {
  margin: 0 auto;
}
.embed-container.full-width {
  max-width: 100% !important;
}

/* Instagram */
.embed-container.instagram iframe {
  width: 100%;
  max-width: 550px;
}
.embed-container.instagram blockquote {
  display: none;
}

/* Noteflight and Flat.io */
.embed-container:is(.flat_io, .noteflight) {
  max-width: 750px;
}
.embed-container.flat_io iframe {
  width: 100%;
  height: 450px;
}
.embed-container.noteflight iframe {
  width: 100%;
  height: 450px;
}

/* GitHub Gists */
.embed-container.github_gist {
  max-width: 100%;
}
.embed-container.github_gist iframe {
  width: 100%;
}

/* YouTube */
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  min-width: 300px;
  min-height: calc(300px * 0.5625);
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Apple Podcasts & TV */

.embed-container.apple-podcasts iframe, .embed-container.apple-tv iframe {
  width: 100%;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: transparent;
}

.embed-container.apple-tv .fake-link {
  display: block;
  position: absolute;
  content: '';
  height: 150px;
  width: 150px;
  top: calc(50% - 75px);
  left: calc(50% - 75px);
}

/* Settings */
.simple-embeds-settings details > summary {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.simple-embeds-settings details > summary::before {
  width: 2em;
  height: 2em;
  content: "";
  font-size: 9px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: -0.3em;
  background-color: currentColor;
  /* Icon from https://heroicons.com */
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 5l7 7-7 7' /%3E%3C/svg%3E");
  transition: transform 0.3s ease;
}

.simple-embeds-settings details[open] > summary::before {
  transform: rotate(90deg);
}

.simple-embeds-settings details > summary h4 {
  margin: 0.5em 0;
}
